/* Navbar */
#nav {
  height: auto;
  min-width: 250px;
  max-width: 250px;
}

.ds-navbar {
  width: auto !important;
  top: 48px;
  position: fixed;
  padding-top: 20px;
}

.ds-navbar .nav .nav-item {
  padding: 0px 0px 3px 0px;
}

.ds-navbar .nav .nav-item a {
  margin: 10px 0px 10px 0px;
  padding: 15px 55px 15px 55px;
  border-right: 5px solid transparent;
}

.ds-navbar .nav .nav-item a.selected {
  background-color: var(--dark-active);
  border-right: 5px solid var(--muted) !important;
}

.ds-nav-links li {
  background-color: rgb(255, 255, 255, 0);
  border: none;
  margin: 3px 0px 4px 0px;
}

.ds-navbar .nav-item * {
  color: var(--muted);
}

.ds-navbar .nav-item * {
  font-weight: 500;
  color: var(--muted);
}

.ds-navbar .nav-item .nav-item-link .nav-item-icon {
  margin: 0px 10px 7px 10px;
  width: 1.2rem;
  height: 1.2rem;
}

.ds-navbar .nav-item .selected {
}

.ds-navbar .nav-item.selected * {
  font-weight: 500;
}
